# Proteção do diretório de chaves de backup
Order Deny,Allow
Deny from all

# Bloquear acesso a todos os arquivos
<Files "*">
    Order Deny,Allow
    Deny from all
</Files>

# Bloquear listagem de diretório
Options -Indexes

# Bloquear execução de scripts
<FilesMatch "\.(php|phtml|php3|php4|php5|pl|py|jsp|asp|sh|cgi)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>